*.sch-bak
*.kicad_pcb-bak
Software/a.out
Software/lcd_test.o
Software/lcd_test.s
Software/lcd_test.s.lst
Software/planck.cfg
docs/_site
Software/forth/docs/py65mon-labelmap.txt
Software/forth/docs/py65mon-listing.txt
taliforth-py65mon.bin
tests/*.o
Software/tests/*.o
Software/tests/*.lst
