set_io HSYNC 48
set_io VSYNC 3
set_io CLK_12M 20
set_io CLK_CPU 21
set_io RW 45
set_io DIR 47

set_io REG[0] 36
set_io REG[1] 42
set_io REG[2] 38



set_io DATA[0] 43
set_io DATA[1] 34
set_io DATA[2] 37
set_io DATA[3] 31
set_io DATA[4] 28
set_io DATA[5] 32
set_io DATA[6] 27
set_io DATA[7] 26

#set_io DO 47

#set_io CLK_25M 25
set_io EN 23
#set_io OE 21

set_io red[2] 13
set_io red[1] 19
set_io red[0] 18
set_io green[2] 11
set_io green[1] 9
set_io green[0] 6
set_io blue[1] 44
set_io blue[0] 4

set_io -nowarn led[0]	41
set_io -nowarn led[1] 39
set_io -nowarn led[2]	40