body {
    color: #00e676;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#screen {
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

#output {
    display: table-cell;
    vertical-align: bottom;
    height: 100%;
}

.log {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.log p {
    color: #00e676;
    font-family: 'Source Code Pro', monospace;
    margin: 0;
}

#input {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
}

#input p {
    color: #00e676;
    display: inline-block;
    font-family: 'Source Code Pro', monospace;
    padding-right: 0.4em;
    margin: 0;
    flex-shrink: 1;
}

#input input[type='command'] {
    background-color: black;
    border: 0;
    color: #00e676;
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    outline: 0;
    flex-grow: 1;
}

a,
a:active,
a:hover,
a:visited {
    color: white;
    text-decoration: none;
    outline: none;
}
