(edif sig2513
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timestamp 2019 8 8 18 38 2)
      (program "SCUBA" (version "Diamond (64-bit) 3.10.2.115"))))
      (comment "C:\lscc\diamond\3.10_x64\ispfpga\bin\nt64\scuba.exe -w -n sig2513 -lang vhdl -synth synplify -bus_exp 7 -bb -arch xo2c00 -type bram -wp 00 -rp 1100 -addr_width 9 -data_width 5 -num_rows 512 -outdata REGISTERED -cascade -1 -resetmode SYNC -sync_reset -memfile c:/dev/apple1display/docs/lut_2513.mem -memformat bin ")
  (library ORCLIB
    (edifLevel 0)
    (technology
      (numberDefinition))
    (cell VHI
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port Z
            (direction OUTPUT)))))
    (cell VLO
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port Z
            (direction OUTPUT)))))
    (cell DP8KC
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port DIA8
            (direction INPUT))
          (port DIA7
            (direction INPUT))
          (port DIA6
            (direction INPUT))
          (port DIA5
            (direction INPUT))
          (port DIA4
            (direction INPUT))
          (port DIA3
            (direction INPUT))
          (port DIA2
            (direction INPUT))
          (port DIA1
            (direction INPUT))
          (port DIA0
            (direction INPUT))
          (port ADA12
            (direction INPUT))
          (port ADA11
            (direction INPUT))
          (port ADA10
            (direction INPUT))
          (port ADA9
            (direction INPUT))
          (port ADA8
            (direction INPUT))
          (port ADA7
            (direction INPUT))
          (port ADA6
            (direction INPUT))
          (port ADA5
            (direction INPUT))
          (port ADA4
            (direction INPUT))
          (port ADA3
            (direction INPUT))
          (port ADA2
            (direction INPUT))
          (port ADA1
            (direction INPUT))
          (port ADA0
            (direction INPUT))
          (port CEA
            (direction INPUT))
          (port OCEA
            (direction INPUT))
          (port CLKA
            (direction INPUT))
          (port WEA
            (direction INPUT))
          (port CSA2
            (direction INPUT))
          (port CSA1
            (direction INPUT))
          (port CSA0
            (direction INPUT))
          (port RSTA
            (direction INPUT))
          (port DIB8
            (direction INPUT))
          (port DIB7
            (direction INPUT))
          (port DIB6
            (direction INPUT))
          (port DIB5
            (direction INPUT))
          (port DIB4
            (direction INPUT))
          (port DIB3
            (direction INPUT))
          (port DIB2
            (direction INPUT))
          (port DIB1
            (direction INPUT))
          (port DIB0
            (direction INPUT))
          (port ADB12
            (direction INPUT))
          (port ADB11
            (direction INPUT))
          (port ADB10
            (direction INPUT))
          (port ADB9
            (direction INPUT))
          (port ADB8
            (direction INPUT))
          (port ADB7
            (direction INPUT))
          (port ADB6
            (direction INPUT))
          (port ADB5
            (direction INPUT))
          (port ADB4
            (direction INPUT))
          (port ADB3
            (direction INPUT))
          (port ADB2
            (direction INPUT))
          (port ADB1
            (direction INPUT))
          (port ADB0
            (direction INPUT))
          (port CEB
            (direction INPUT))
          (port OCEB
            (direction INPUT))
          (port CLKB
            (direction INPUT))
          (port WEB
            (direction INPUT))
          (port CSB2
            (direction INPUT))
          (port CSB1
            (direction INPUT))
          (port CSB0
            (direction INPUT))
          (port RSTB
            (direction INPUT))
          (port DOA8
            (direction OUTPUT))
          (port DOA7
            (direction OUTPUT))
          (port DOA6
            (direction OUTPUT))
          (port DOA5
            (direction OUTPUT))
          (port DOA4
            (direction OUTPUT))
          (port DOA3
            (direction OUTPUT))
          (port DOA2
            (direction OUTPUT))
          (port DOA1
            (direction OUTPUT))
          (port DOA0
            (direction OUTPUT))
          (port DOB8
            (direction OUTPUT))
          (port DOB7
            (direction OUTPUT))
          (port DOB6
            (direction OUTPUT))
          (port DOB5
            (direction OUTPUT))
          (port DOB4
            (direction OUTPUT))
          (port DOB3
            (direction OUTPUT))
          (port DOB2
            (direction OUTPUT))
          (port DOB1
            (direction OUTPUT))
          (port DOB0
            (direction OUTPUT)))))
    (cell sig2513
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port (array (rename Address "Address(8:0)") 9)
            (direction INPUT))
          (port OutClock
            (direction INPUT))
          (port OutClockEn
            (direction INPUT))
          (port Reset
            (direction INPUT))
          (port (array (rename Q "Q(4:0)") 5)
            (direction OUTPUT)))
        (property NGD_DRC_MASK (integer 1))
        (contents
          (instance scuba_vhi_inst
            (viewRef view1 
              (cellRef VHI)))
          (instance scuba_vlo_inst
            (viewRef view1 
              (cellRef VLO)))
          (instance sig2513_0_0_0
            (viewRef view1 
              (cellRef DP8KC))
            (property INIT_DATA
              (string "STATIC"))
            (property ASYNC_RESET_RELEASE
              (string "SYNC"))
            (property MEM_LPC_FILE
              (string "sig2513.lpc"))
            (property MEM_INIT_FILE
              (string "lut_2513.mem"))
            (property INITVAL_1F
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1E
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1D
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1C
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1B
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1A
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_19
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_18
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_17
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_16
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_15
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_14
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_13
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_12
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_11
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_10
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_0F
              (string "0x00800008040041101C00010040040100404010000000003E0003E000000000404010100100400400"))
            (property INITVAL_0E
              (string "0x0100400800008000000000000008000080000000038020020F0221101C0001C110220E0221101C00"))
            (property INITVAL_0D
              (string "0x01008010040040103E0001C110221E0200800E0001C110020103C1003E000040203E120140600400"))
            (property INITVAL_0C
              (string "0x01C11002060040103E0003E10010060021101C0001C04008040080C0080001C11032150261101C00"))
            (property INITVAL_0B
              (string "0x0001001004004010000000800000000000000000000000001F000000000001004008000000000000"))
            (property INITVAL_0A
              (string "0x000040081F00804000000081501C0401C15008000080200201002020080000808020100200800800"))
            (property INITVAL_09
              (string "0x0000000000008040080001A1202A080281401000006130100400419030000081E00A0E0280F00800"))
            (property INITVAL_08
              (string "0x0140A03E0A03E0A0140000000000000140A014000080000804008040080000000000000000000000"))
            (property INITVAL_07
              (string "0x03E00000000000000000000000220A008000000003E03006030060303E0000001004040101000000"))
            (property INITVAL_06
              (string "0x03E18030180301803E0003E10010040040103E000080400804014110220002211014040141102200"))
            (property INITVAL_05
              (string "0x0221B02A1502211022000080A02211022110220001C1102211022110220000804008040080403E00"))
            (property INITVAL_04
              (string "0x01C110020E0201101C00022120281E0221103C0001A1202A110221101C00020100201E0221103C00"))
            (property INITVAL_03
              (string "0x01C11022110221101C0002211026150321102200022110221502A1B0220003E10020100201002000"))
            (property INITVAL_02
              (string "0x0221202818028120220001C1100201002010020001C04008040080401C00022110221F0221102200"))
            (property INITVAL_01
              (string "0x01E11026100201001E00020100201E0201003E0003E100201E0201003E0003C11022110221103C00"))
            (property INITVAL_00
              (string "0x01C11020100201101C0003C110221E0221103C000221103E110220A0080001E1002C1702A1101C00"))
            (property CSDECODE_B
              (string "0b000"))
            (property CSDECODE_A
              (string "0b000"))
            (property WRITEMODE_B
              (string "NORMAL"))
            (property WRITEMODE_A
              (string "NORMAL"))
            (property GSR
              (string "ENABLED"))
            (property RESETMODE
              (string "SYNC"))
            (property REGMODE_B
              (string "OUTREG"))
            (property REGMODE_A
              (string "OUTREG"))
            (property DATA_WIDTH_B
              (string "9"))
            (property DATA_WIDTH_A
              (string "9")))
          (net scuba_vhi
            (joined
              (portRef Z (instanceRef scuba_vhi_inst))
              (portRef ADB12 (instanceRef sig2513_0_0_0))))
          (net scuba_vlo
            (joined
              (portRef Z (instanceRef scuba_vlo_inst))
              (portRef CSB2 (instanceRef sig2513_0_0_0))
              (portRef CSA2 (instanceRef sig2513_0_0_0))
              (portRef CSB1 (instanceRef sig2513_0_0_0))
              (portRef CSA1 (instanceRef sig2513_0_0_0))
              (portRef CSB0 (instanceRef sig2513_0_0_0))
              (portRef CSA0 (instanceRef sig2513_0_0_0))
              (portRef WEB (instanceRef sig2513_0_0_0))
              (portRef WEA (instanceRef sig2513_0_0_0))
              (portRef ADA12 (instanceRef sig2513_0_0_0))
              (portRef ADB11 (instanceRef sig2513_0_0_0))
              (portRef ADB10 (instanceRef sig2513_0_0_0))
              (portRef ADB9 (instanceRef sig2513_0_0_0))
              (portRef ADB8 (instanceRef sig2513_0_0_0))
              (portRef ADB7 (instanceRef sig2513_0_0_0))
              (portRef ADB6 (instanceRef sig2513_0_0_0))
              (portRef ADB5 (instanceRef sig2513_0_0_0))
              (portRef ADB4 (instanceRef sig2513_0_0_0))
              (portRef ADB3 (instanceRef sig2513_0_0_0))
              (portRef ADB2 (instanceRef sig2513_0_0_0))
              (portRef ADA2 (instanceRef sig2513_0_0_0))
              (portRef ADB1 (instanceRef sig2513_0_0_0))
              (portRef ADA1 (instanceRef sig2513_0_0_0))
              (portRef ADB0 (instanceRef sig2513_0_0_0))
              (portRef ADA0 (instanceRef sig2513_0_0_0))
              (portRef DIB8 (instanceRef sig2513_0_0_0))
              (portRef DIA8 (instanceRef sig2513_0_0_0))
              (portRef DIB7 (instanceRef sig2513_0_0_0))
              (portRef DIA7 (instanceRef sig2513_0_0_0))
              (portRef DIB6 (instanceRef sig2513_0_0_0))
              (portRef DIA6 (instanceRef sig2513_0_0_0))
              (portRef DIB5 (instanceRef sig2513_0_0_0))
              (portRef DIA5 (instanceRef sig2513_0_0_0))
              (portRef DIB4 (instanceRef sig2513_0_0_0))
              (portRef DIA4 (instanceRef sig2513_0_0_0))
              (portRef DIB3 (instanceRef sig2513_0_0_0))
              (portRef DIA3 (instanceRef sig2513_0_0_0))
              (portRef DIB2 (instanceRef sig2513_0_0_0))
              (portRef DIA2 (instanceRef sig2513_0_0_0))
              (portRef DIB1 (instanceRef sig2513_0_0_0))
              (portRef DIA1 (instanceRef sig2513_0_0_0))
              (portRef DIB0 (instanceRef sig2513_0_0_0))
              (portRef DIA0 (instanceRef sig2513_0_0_0))))
          (net dataout4
            (joined
              (portRef (member Q 0))
              (portRef DOA4 (instanceRef sig2513_0_0_0))))
          (net dataout3
            (joined
              (portRef (member Q 1))
              (portRef DOA3 (instanceRef sig2513_0_0_0))))
          (net dataout2
            (joined
              (portRef (member Q 2))
              (portRef DOA2 (instanceRef sig2513_0_0_0))))
          (net dataout1
            (joined
              (portRef (member Q 3))
              (portRef DOA1 (instanceRef sig2513_0_0_0))))
          (net dataout0
            (joined
              (portRef (member Q 4))
              (portRef DOA0 (instanceRef sig2513_0_0_0))))
          (net Reset
            (joined
              (portRef Reset)
              (portRef RSTB (instanceRef sig2513_0_0_0))
              (portRef RSTA (instanceRef sig2513_0_0_0))))
          (net RdClockEn
            (joined
              (portRef OutClockEn)
              (portRef OCEB (instanceRef sig2513_0_0_0))
              (portRef CEB (instanceRef sig2513_0_0_0))
              (portRef OCEA (instanceRef sig2513_0_0_0))
              (portRef CEA (instanceRef sig2513_0_0_0))))
          (net rdclk
            (joined
              (portRef OutClock)
              (portRef CLKB (instanceRef sig2513_0_0_0))
              (portRef CLKA (instanceRef sig2513_0_0_0))))
          (net raddr8
            (joined
              (portRef (member Address 0))
              (portRef ADA11 (instanceRef sig2513_0_0_0))))
          (net raddr7
            (joined
              (portRef (member Address 1))
              (portRef ADA10 (instanceRef sig2513_0_0_0))))
          (net raddr6
            (joined
              (portRef (member Address 2))
              (portRef ADA9 (instanceRef sig2513_0_0_0))))
          (net raddr5
            (joined
              (portRef (member Address 3))
              (portRef ADA8 (instanceRef sig2513_0_0_0))))
          (net raddr4
            (joined
              (portRef (member Address 4))
              (portRef ADA7 (instanceRef sig2513_0_0_0))))
          (net raddr3
            (joined
              (portRef (member Address 5))
              (portRef ADA6 (instanceRef sig2513_0_0_0))))
          (net raddr2
            (joined
              (portRef (member Address 6))
              (portRef ADA5 (instanceRef sig2513_0_0_0))))
          (net raddr1
            (joined
              (portRef (member Address 7))
              (portRef ADA4 (instanceRef sig2513_0_0_0))))
          (net raddr0
            (joined
              (portRef (member Address 8))
              (portRef ADA3 (instanceRef sig2513_0_0_0))))))))
  (design sig2513
    (cellRef sig2513
      (libraryRef ORCLIB)))
)
