# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp
*.lis
*.def

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app
*.bin

# Intel Hex Executables
*.ihx
*.hex

