ID_ICON0 ICON "edit68K.ico"
ID_ICON1 ICON "X68icon.ico"
ID_ICON2 ICON "L68icon.ico"
ID_ICON3 ICON "S68icon.ico"
ID_ICON4 ICON "X68icon2.ico"
ID_ICON5 ICON "L68icon2.ico"
ID_ICON6 ICON "S68icon2.ico"

