 OSTART
!TOP! 0J 0UZ
!ENTRY! 0UN
!COMP! 0L QNC 0AUX
 L QNC 0AUY
 QY-QX"L 0L XA K -L GA 1UZ'
 QY-QX"E QX-61"N QN+1UN -L OCOMP' 
 DUPLICATE (DELETED):  0L T K'
 L Z-."N -L OENTRY'
 QZ"N OTOP'
 
 END SORT

 HXA HK GR 0J FSEREW HXR MR MS OTAG

!START! 0J IEW S< -D
 @I// B,.XR MR
 B,.K
 0J IER S, -D
 @I// B,.XA MA
 B,.K 0J IER
 ZJ @I// HXS
 HK Y

!NEXT! :_/*"E OSORT' .-1UP 0L
 QP-.-2"N L ONEXT'
 2D .UP

!SPACE! C 0A-32"E OSAVE'
 0A-13"E OSAVE'
 0A-47"E OSAVE'
 0A-9"N OSPACE'

!SAVE! I=

!CLR! 0A-32"E D OCLR'
 0A-9"E D OCLR'
 L QP,.P ONEXT

!SORT! HK EF MR GR
 0J FSEWER HXR MR
 HK Y
 
 START SORT
 OTOP

!TAG! HK GA .UP QP"E ODONE'
 0J L .,QPXA .,QPK B,.XB
 0J I:_ 19I S= -D 32I @I//
 B,.XC L -K MS Y
 MC"E 
 UNDEFINED:  0J GB 0J T OTAG'

!SKIP! 0A-32"E C OSKIP'
 0A-9"E C OSKIP'
 .,.+4XC 0J GB 0J S= 9I
 GC 9I L B,.PW B,K OTAG

!DONE! HK 13I PW EF 
 DONE
 ^C

