# Constraints for reference design 'frequency_generator'.
#
# Revision C of the Spartan-3E Starter Kit.
#
# Ken Chapman - Xilinx Ltd
#
# 28th June 2006
#
# Period constraint for 50MHz operation of control logic
#
NET "clk" PERIOD = 20.0ns HIGH 50%;
#
#
# Period constraint for 200MHz operation of DDS phase accumulator
#   (Specification used actually equates to 151.5MHz)
#
NET "frequency_control/dds_clk" PERIOD = 5.0ns HIGH 50%;
#
# Period constraint for up to 200MHz operation of frequency divider
#   In practice this frequency is variable and only reaches 200MHz as a maximum.
#   (Specification used actually equates to 151.5MHz)
#
NET "frequency_control/synth_clk" PERIOD = 5.0ns HIGH 50%;
#
#
# IMPORTANT NOTE - All paths between clock domains are non critical.
# They are not given timing specifications and therefore can be as
# slow as they like.
#
#
#
# Lock the position of the DCM used in frequency aligned mode so that the special
# settings can be applied in BITGEN.
#
INST "frequency_control/frequency_aligned_dcm" LOC=DCM_X1Y1;
#
#
#
# I/O contraints
#
#
#
# soldered 50MHz Clock.
#
#
#
# SMA socket.
#
#
#
# Simple LEDs
# Require only 3.5mA.
#
#
#
# LCD display
# Very slow so can use lowest drive strength.
#
#
# Strata Flash (need to disable to use LCD display)
#
#
#
# Rotary encoder.
#   Rotation contacts require pull UP resistors to provide High level.
#   Press contact requires pull DOWN resistor to provide Low when not pressed..
#
#
#
# Simple I/O pins on connector J4
#
#
#
# End of File
#
#PACE: Start of Constraints generated by PACE

#PACE: Start of PACE I/O Pin Assignments
NET "clk"  LOC = "C9" | IOSTANDARD = LVTTL ;
NET "lcd_d<4>"  LOC = "R15" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 2 ;
NET "lcd_d<5>"  LOC = "R16" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 2 ;
NET "lcd_d<6>"  LOC = "P17" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 2 ;
NET "lcd_d<7>"  LOC = "M15" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 2 ;
NET "lcd_e"  LOC = "M18" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 2 ;
NET "lcd_rs"  LOC = "L18" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 2 ;
NET "lcd_rw"  LOC = "L17" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 2 ;
NET "rotary_a"  LOC = "K18" | IOSTANDARD = LVTTL  | PULLUP ;
NET "rotary_b"  LOC = "G18" | IOSTANDARD = LVTTL  | PULLUP ;
NET "rotary_press"  LOC = "V16" | IOSTANDARD = LVTTL  | PULLDOWN ;
NET "sma_out"  LOC = "A10" | IOSTANDARD = LVCMOS33  | SLEW = SLOW  | DRIVE = 4 ;
NET "strataflash_ce"  LOC = "D16" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 2 ;
NET "strataflash_oe"  LOC = "C18" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 2 ;
NET "strataflash_we"  LOC = "D17" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 2 ;

NET "led<0>"  LOC = "f12" | IOSTANDARD = LVTTL ;
NET "led<1>"  LOC = "e12" | IOSTANDARD = LVTTL ;
NET "led<2>"  LOC = "e11" | IOSTANDARD = LVTTL ;
NET "led<3>"  LOC = "f11" | IOSTANDARD = LVTTL ;
NET "led<4>"  LOC = "c11" | IOSTANDARD = LVTTL ;
NET "led<5>"  LOC = "d11" | IOSTANDARD = LVTTL ;
NET "led<6>"  LOC = "e9" | IOSTANDARD = LVTTL ;
NET "led<7>"  LOC = "f9" | IOSTANDARD = LVTTL ;
NET "reset"  LOC = "k17" | IOSTANDARD = LVTTL  | PULLDOWN ;
NET "rx"  LOC = "r7" | IOSTANDARD = LVTTL ;
NET "sw<0>"  LOC = "l13" | PULLUP  | IOSTANDARD = LVTTL ;
NET "sw<1>"  LOC = "l14" | PULLUP  | IOSTANDARD = LVTTL ;
NET "sw<2>"  LOC = "h18" | PULLUP  | IOSTANDARD = LVTTL ;
NET "sw<3>"  LOC = "n17" | PULLUP  | IOSTANDARD = LVTTL ;
NET "tx"  LOC = "m14" | IOSTANDARD = LVTTL  | DRIVE = 8  | SLEW = SLOW ;

NET "sdcard_miso" LOC = "B4" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;
NET "sdcard_sclk" LOC = "A4" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;
NET "sdcard_cs" LOC = "D5" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;
NET "sdcard_mosi" LOC = "C5" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;
NET "sdcard2_miso" LOC = "A6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;
NET "sdcard2_sclk" LOC = "B6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;
NET "sdcard2_cs" LOC = "E7" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;
NET "sdcard2_mosi" LOC = "F7" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;

NET "j3<0>" LOC = "D7" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;
NET "j3<1>" LOC = "C7" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;
NET "j3<2>" LOC = "F8" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;
NET "j3<3>" LOC = "E8" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;

#
#PACE: Start of PACE Area Constraints

#PACE: Start of PACE Prohibit Constraints

#PACE: End of Constraints generated by PACE
