//! **************************************************************************
// Written by: Map I.34 on Fri Apr 23 22:47:47 2010
//! **************************************************************************

SCHEMATIC START;
COMP "sram1_ce_n" LOCATE = SITE "P7" LEVEL 1;
COMP "sram1_io<0>" LOCATE = SITE "N7" LEVEL 1;
COMP "sram1_io<1>" LOCATE = SITE "T8" LEVEL 1;
COMP "sram1_io<2>" LOCATE = SITE "R6" LEVEL 1;
COMP "sram1_io<3>" LOCATE = SITE "T5" LEVEL 1;
COMP "sram1_io<4>" LOCATE = SITE "R5" LEVEL 1;
COMP "sram1_io<5>" LOCATE = SITE "C2" LEVEL 1;
COMP "sram1_io<6>" LOCATE = SITE "C1" LEVEL 1;
COMP "sram1_io<7>" LOCATE = SITE "B1" LEVEL 1;
COMP "sram1_io<8>" LOCATE = SITE "D3" LEVEL 1;
COMP "sram2_ce_n" LOCATE = SITE "N5" LEVEL 1;
COMP "sram1_io<9>" LOCATE = SITE "P8" LEVEL 1;
COMP "sram1_lb_n" LOCATE = SITE "P6" LEVEL 1;
COMP "sram2_io<0>" LOCATE = SITE "P2" LEVEL 1;
COMP "sram2_io<1>" LOCATE = SITE "N2" LEVEL 1;
COMP "sram2_io<2>" LOCATE = SITE "M2" LEVEL 1;
COMP "sram2_io<3>" LOCATE = SITE "K1" LEVEL 1;
COMP "sram2_io<4>" LOCATE = SITE "J1" LEVEL 1;
COMP "sram2_io<5>" LOCATE = SITE "G2" LEVEL 1;
COMP "sram2_io<6>" LOCATE = SITE "E1" LEVEL 1;
COMP "sram2_lb_n" LOCATE = SITE "P5" LEVEL 1;
COMP "sram2_io<7>" LOCATE = SITE "D1" LEVEL 1;
COMP "sram2_io<8>" LOCATE = SITE "D2" LEVEL 1;
COMP "sram2_io<9>" LOCATE = SITE "E2" LEVEL 1;
COMP "sevenseg<0>" LOCATE = SITE "P16" LEVEL 1;
COMP "sram1_io<10>" LOCATE = SITE "F2" LEVEL 1;
COMP "sevenseg<1>" LOCATE = SITE "N16" LEVEL 1;
COMP "sram1_io<11>" LOCATE = SITE "H1" LEVEL 1;
COMP "sevenseg<2>" LOCATE = SITE "F13" LEVEL 1;
COMP "sram1_io<12>" LOCATE = SITE "J2" LEVEL 1;
COMP "sevenseg<3>" LOCATE = SITE "R16" LEVEL 1;
COMP "sram1_io<13>" LOCATE = SITE "L2" LEVEL 1;
COMP "sevenseg<4>" LOCATE = SITE "P15" LEVEL 1;
COMP "sram1_io<14>" LOCATE = SITE "P1" LEVEL 1;
COMP "sevenseg<5>" LOCATE = SITE "N15" LEVEL 1;
COMP "sram1_io<15>" LOCATE = SITE "R1" LEVEL 1;
COMP "sevenseg<6>" LOCATE = SITE "G13" LEVEL 1;
COMP "sevenseg<7>" LOCATE = SITE "E14" LEVEL 1;
COMP "sram1_ub_n" LOCATE = SITE "T4" LEVEL 1;
COMP "sysclk" LOCATE = SITE "T9" LEVEL 1;
COMP "sram2_ub_n" LOCATE = SITE "R4" LEVEL 1;
COMP "led<0>" LOCATE = SITE "K12" LEVEL 1;
COMP "led<1>" LOCATE = SITE "P14" LEVEL 1;
COMP "led<2>" LOCATE = SITE "L12" LEVEL 1;
COMP "led<3>" LOCATE = SITE "N14" LEVEL 1;
COMP "led<4>" LOCATE = SITE "P13" LEVEL 1;
COMP "led<5>" LOCATE = SITE "N12" LEVEL 1;
COMP "led<6>" LOCATE = SITE "P12" LEVEL 1;
COMP "led<7>" LOCATE = SITE "P11" LEVEL 1;
COMP "sram2_io<10>" LOCATE = SITE "G1" LEVEL 1;
COMP "sram2_io<11>" LOCATE = SITE "F5" LEVEL 1;
COMP "sram2_io<12>" LOCATE = SITE "C3" LEVEL 1;
COMP "sram2_io<13>" LOCATE = SITE "K2" LEVEL 1;
COMP "sram2_io<14>" LOCATE = SITE "M1" LEVEL 1;
COMP "sram2_io<15>" LOCATE = SITE "N1" LEVEL 1;
COMP "sram_oe_n" LOCATE = SITE "K4" LEVEL 1;
COMP "slideswitch<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "slideswitch<1>" LOCATE = SITE "G12" LEVEL 1;
COMP "slideswitch<2>" LOCATE = SITE "H14" LEVEL 1;
COMP "slideswitch<3>" LOCATE = SITE "H13" LEVEL 1;
COMP "slideswitch<4>" LOCATE = SITE "J14" LEVEL 1;
COMP "slideswitch<5>" LOCATE = SITE "J13" LEVEL 1;
COMP "slideswitch<6>" LOCATE = SITE "K14" LEVEL 1;
COMP "slideswitch<7>" LOCATE = SITE "K13" LEVEL 1;
COMP "sram_we_n" LOCATE = SITE "G3" LEVEL 1;
COMP "ide_data_bus<0>" LOCATE = SITE "B5" LEVEL 1;
COMP "ide_data_bus<1>" LOCATE = SITE "B4" LEVEL 1;
COMP "ide_data_bus<2>" LOCATE = SITE "D10" LEVEL 1;
COMP "ide_data_bus<3>" LOCATE = SITE "D8" LEVEL 1;
COMP "ide_data_bus<4>" LOCATE = SITE "D7" LEVEL 1;
COMP "ide_data_bus<5>" LOCATE = SITE "E7" LEVEL 1;
COMP "ide_data_bus<6>" LOCATE = SITE "D6" LEVEL 1;
COMP "ide_data_bus<7>" LOCATE = SITE "D5" LEVEL 1;
COMP "ide_data_bus<8>" LOCATE = SITE "C5" LEVEL 1;
COMP "ide_data_bus<9>" LOCATE = SITE "C6" LEVEL 1;
COMP "ide_da<0>" LOCATE = SITE "B12" LEVEL 1;
COMP "ide_da<1>" LOCATE = SITE "B13" LEVEL 1;
COMP "ide_da<2>" LOCATE = SITE "B14" LEVEL 1;
COMP "ide_cs<0>" LOCATE = SITE "A9" LEVEL 1;
COMP "ide_cs<1>" LOCATE = SITE "A10" LEVEL 1;
COMP "rs232_rxd" LOCATE = SITE "T13" LEVEL 1;
COMP "rs232_txd" LOCATE = SITE "R13" LEVEL 1;
COMP "button<0>" LOCATE = SITE "M13" LEVEL 1;
COMP "button<1>" LOCATE = SITE "M14" LEVEL 1;
COMP "button<2>" LOCATE = SITE "L13" LEVEL 1;
COMP "button<3>" LOCATE = SITE "L14" LEVEL 1;
COMP "sevenseg_an<0>" LOCATE = SITE "D14" LEVEL 1;
COMP "sevenseg_an<1>" LOCATE = SITE "G14" LEVEL 1;
COMP "sevenseg_an<2>" LOCATE = SITE "F14" LEVEL 1;
COMP "sevenseg_an<3>" LOCATE = SITE "E13" LEVEL 1;
COMP "sram_a<10>" LOCATE = SITE "G5" LEVEL 1;
COMP "sram_a<11>" LOCATE = SITE "H3" LEVEL 1;
COMP "sram_a<12>" LOCATE = SITE "H4" LEVEL 1;
COMP "sram_a<13>" LOCATE = SITE "J4" LEVEL 1;
COMP "sram_a<14>" LOCATE = SITE "J3" LEVEL 1;
COMP "sram_a<15>" LOCATE = SITE "K3" LEVEL 1;
COMP "sram_a<16>" LOCATE = SITE "K5" LEVEL 1;
COMP "sram_a<17>" LOCATE = SITE "L3" LEVEL 1;
COMP "ide_data_bus<10>" LOCATE = SITE "C7" LEVEL 1;
COMP "ide_dior" LOCATE = SITE "B10" LEVEL 1;
COMP "ide_data_bus<11>" LOCATE = SITE "C8" LEVEL 1;
COMP "ide_data_bus<12>" LOCATE = SITE "C9" LEVEL 1;
COMP "sram_a<0>" LOCATE = SITE "L5" LEVEL 1;
COMP "ide_diow" LOCATE = SITE "A8" LEVEL 1;
COMP "ide_data_bus<13>" LOCATE = SITE "A3" LEVEL 1;
COMP "sram_a<1>" LOCATE = SITE "N3" LEVEL 1;
COMP "ide_data_bus<14>" LOCATE = SITE "A4" LEVEL 1;
COMP "sram_a<2>" LOCATE = SITE "M4" LEVEL 1;
COMP "ide_data_bus<15>" LOCATE = SITE "A5" LEVEL 1;
COMP "sram_a<3>" LOCATE = SITE "M3" LEVEL 1;
COMP "sram_a<4>" LOCATE = SITE "L4" LEVEL 1;
COMP "sram_a<5>" LOCATE = SITE "G4" LEVEL 1;
COMP "sram_a<6>" LOCATE = SITE "F3" LEVEL 1;
COMP "sram_a<7>" LOCATE = SITE "F4" LEVEL 1;
COMP "sram_a<8>" LOCATE = SITE "E3" LEVEL 1;
COMP "sram_a<9>" LOCATE = SITE "E4" LEVEL 1;
NET "sysclk_BUFGP/IBUFG" BEL "sysclk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
