//! **************************************************************************
// Written by: Map I.31 on Thu Dec 21 09:18:43 2006
//! **************************************************************************

SCHEMATIC START;
COMP "reset_n" LOCATE = SITE "E3" LEVEL 1;
COMP "clka" LOCATE = SITE "R8" LEVEL 1;
COMP "fpga_d1" LOCATE = SITE "E16" LEVEL 1;
COMP "fpga_din_d0" LOCATE = SITE "D14" LEVEL 1;
COMP "fpga_d2" LOCATE = SITE "F15" LEVEL 1;
COMP "fpga_d3" LOCATE = SITE "G16" LEVEL 1;
COMP "fpga_d4" LOCATE = SITE "J16" LEVEL 1;
COMP "fpga_d5" LOCATE = SITE "M16" LEVEL 1;
COMP "fpga_d6" LOCATE = SITE "N16" LEVEL 1;
COMP "fpga_d7" LOCATE = SITE "N14" LEVEL 1;
COMP "ps2_data" LOCATE = SITE "E1" LEVEL 1;
COMP "ps2_clk" LOCATE = SITE "F4" LEVEL 1;
SCHEMATIC END;
