//! **************************************************************************
// Written by: Map I.31 on Mon Jan 01 22:22:14 2007
//! **************************************************************************

SCHEMATIC START;
COMP "ps2_clk" LOCATE = SITE "F4" LEVEL 1;
COMP "fpga_d1" LOCATE = SITE "E16" LEVEL 1;
COMP "fpga_d2" LOCATE = SITE "F15" LEVEL 1;
COMP "fpga_d3" LOCATE = SITE "G16" LEVEL 1;
COMP "fpga_d4" LOCATE = SITE "J16" LEVEL 1;
COMP "fpga_d5" LOCATE = SITE "M16" LEVEL 1;
COMP "fpga_d6" LOCATE = SITE "N16" LEVEL 1;
COMP "fpga_d7" LOCATE = SITE "N14" LEVEL 1;
COMP "ps2_data" LOCATE = SITE "E1" LEVEL 1;
COMP "fpga_din_d0" LOCATE = SITE "D14" LEVEL 1;
COMP "vga_blue0" LOCATE = SITE "H4" LEVEL 1;
COMP "vga_blue1" LOCATE = SITE "K3" LEVEL 1;
COMP "vga_vsync_n" LOCATE = SITE "K1" LEVEL 1;
COMP "vga_blue2" LOCATE = SITE "L5" LEVEL 1;
COMP "vga_hsync_n" LOCATE = SITE "K4" LEVEL 1;
COMP "clka" LOCATE = SITE "R8" LEVEL 1;
COMP "vga_red0" LOCATE = SITE "J1" LEVEL 1;
COMP "vga_red1" LOCATE = SITE "M1" LEVEL 1;
COMP "vga_red2" LOCATE = SITE "T2" LEVEL 1;
COMP "reset_n" LOCATE = SITE "E3" LEVEL 1;
COMP "vga_green0" LOCATE = SITE "H2" LEVEL 1;
COMP "vga_green1" LOCATE = SITE "K5" LEVEL 1;
COMP "vga_green2" LOCATE = SITE "R1" LEVEL 1;
SCHEMATIC END;
