(edif ScreenRom2
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timestamp 2019 7 21 16 56 14)
      (program "SCUBA" (version "Diamond (64-bit) 3.10.2.115"))))
      (comment "C:\lscc\diamond\3.10_x64\ispfpga\bin\nt64\scuba.exe -w -n ScreenRom2 -lang vhdl -synth synplify -bus_exp 7 -bb -arch xo2c00 -type bram -wp 00 -rp 1100 -addr_width 10 -data_width 6 -num_rows 1024 -cascade -1 -memfile c:/dev/apple1display/docs/lut_screen2.mem -memformat bin ")
  (library ORCLIB
    (edifLevel 0)
    (technology
      (numberDefinition))
    (cell VHI
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port Z
            (direction OUTPUT)))))
    (cell VLO
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port Z
            (direction OUTPUT)))))
    (cell DP8KC
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port DIA8
            (direction INPUT))
          (port DIA7
            (direction INPUT))
          (port DIA6
            (direction INPUT))
          (port DIA5
            (direction INPUT))
          (port DIA4
            (direction INPUT))
          (port DIA3
            (direction INPUT))
          (port DIA2
            (direction INPUT))
          (port DIA1
            (direction INPUT))
          (port DIA0
            (direction INPUT))
          (port ADA12
            (direction INPUT))
          (port ADA11
            (direction INPUT))
          (port ADA10
            (direction INPUT))
          (port ADA9
            (direction INPUT))
          (port ADA8
            (direction INPUT))
          (port ADA7
            (direction INPUT))
          (port ADA6
            (direction INPUT))
          (port ADA5
            (direction INPUT))
          (port ADA4
            (direction INPUT))
          (port ADA3
            (direction INPUT))
          (port ADA2
            (direction INPUT))
          (port ADA1
            (direction INPUT))
          (port ADA0
            (direction INPUT))
          (port CEA
            (direction INPUT))
          (port OCEA
            (direction INPUT))
          (port CLKA
            (direction INPUT))
          (port WEA
            (direction INPUT))
          (port CSA2
            (direction INPUT))
          (port CSA1
            (direction INPUT))
          (port CSA0
            (direction INPUT))
          (port RSTA
            (direction INPUT))
          (port DIB8
            (direction INPUT))
          (port DIB7
            (direction INPUT))
          (port DIB6
            (direction INPUT))
          (port DIB5
            (direction INPUT))
          (port DIB4
            (direction INPUT))
          (port DIB3
            (direction INPUT))
          (port DIB2
            (direction INPUT))
          (port DIB1
            (direction INPUT))
          (port DIB0
            (direction INPUT))
          (port ADB12
            (direction INPUT))
          (port ADB11
            (direction INPUT))
          (port ADB10
            (direction INPUT))
          (port ADB9
            (direction INPUT))
          (port ADB8
            (direction INPUT))
          (port ADB7
            (direction INPUT))
          (port ADB6
            (direction INPUT))
          (port ADB5
            (direction INPUT))
          (port ADB4
            (direction INPUT))
          (port ADB3
            (direction INPUT))
          (port ADB2
            (direction INPUT))
          (port ADB1
            (direction INPUT))
          (port ADB0
            (direction INPUT))
          (port CEB
            (direction INPUT))
          (port OCEB
            (direction INPUT))
          (port CLKB
            (direction INPUT))
          (port WEB
            (direction INPUT))
          (port CSB2
            (direction INPUT))
          (port CSB1
            (direction INPUT))
          (port CSB0
            (direction INPUT))
          (port RSTB
            (direction INPUT))
          (port DOA8
            (direction OUTPUT))
          (port DOA7
            (direction OUTPUT))
          (port DOA6
            (direction OUTPUT))
          (port DOA5
            (direction OUTPUT))
          (port DOA4
            (direction OUTPUT))
          (port DOA3
            (direction OUTPUT))
          (port DOA2
            (direction OUTPUT))
          (port DOA1
            (direction OUTPUT))
          (port DOA0
            (direction OUTPUT))
          (port DOB8
            (direction OUTPUT))
          (port DOB7
            (direction OUTPUT))
          (port DOB6
            (direction OUTPUT))
          (port DOB5
            (direction OUTPUT))
          (port DOB4
            (direction OUTPUT))
          (port DOB3
            (direction OUTPUT))
          (port DOB2
            (direction OUTPUT))
          (port DOB1
            (direction OUTPUT))
          (port DOB0
            (direction OUTPUT)))))
    (cell ScreenRom2
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port (array (rename Address "Address(9:0)") 10)
            (direction INPUT))
          (port OutClock
            (direction INPUT))
          (port OutClockEn
            (direction INPUT))
          (port Reset
            (direction INPUT))
          (port (array (rename Q "Q(5:0)") 6)
            (direction OUTPUT)))
        (property NGD_DRC_MASK (integer 1))
        (contents
          (instance scuba_vhi_inst
            (viewRef view1 
              (cellRef VHI)))
          (instance scuba_vlo_inst
            (viewRef view1 
              (cellRef VLO)))
          (instance ScreenRom2_0_0_0
            (viewRef view1 
              (cellRef DP8KC))
            (property INIT_DATA
              (string "STATIC"))
            (property ASYNC_RESET_RELEASE
              (string "SYNC"))
            (property MEM_LPC_FILE
              (string "ScreenRom2.lpc"))
            (property MEM_INIT_FILE
              (string "lut_screen2.mem"))
            (property INITVAL_1F
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1E
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1D
              (string "0x0402004020040200402004020040200402004020040200401A01E170402004020040200402004020"))
            (property INITVAL_1C
              (string "0x0402004020040200402004A2504A2504A2504A25046230463F05A2C0422D05A210582C0582C07621"))
            (property INITVAL_1B
              (string "0x0563F05423046230462504A2504A2504A2504A25046230462304A25046230462304A2B0762103C2D"))
            (property INITVAL_1A
              (string "0x0423B0583B0582C0582C0763F0462304A230462504A2504A2504A250462300000000000462304A25"))
            (property INITVAL_19
              (string "0x04A230461E0762D0422C0743A05C2E05C3A0743A0582C07A23046250462304A250462304A2504A25"))
            (property INITVAL_18
              (string "0x0000000000000000002304A2A0541E0422C05C2E05C2E05C2E05C200402E0743A0763F0462304623"))
            (property INITVAL_17
              (string "0x04A250542A0542504600000000000000000000000002507E2B0742E05C3A05C2E05C2E0742E05C2E"))
            (property INITVAL_16
              (string "0x05C2E0582D04C2304A2605425046230000000000000000000000000000000000007E2C05C2E0763B"))
            (property INITVAL_15
              (string "0x0582C0583B0762C05C2E0402005C2C07A2A07E250000000000000000000000000000000000000000"))
            (property INITVAL_14
              (string "0x0003D0742005C2C03C1E03C1E05A210763B0582E05C2E040200422D04A0000000000000000000000"))
            (property INITVAL_13
              (string "0x0000000000000000000007E2E05C2E05C2C0583B042210763B0583A0742E0743A05C2E0402E05A25"))
            (property INITVAL_12
              (string "0x00000000000000000000000000000000000000250583A0762C05C2E0743A05C2E0402E0582C05C2E"))
            (property INITVAL_11
              (string "0x0583B0763A040200401E000000000000000000000000000000000000002B05C2105A210762C0762D"))
            (property INITVAL_10
              (string "0x03C2D042210423B076210422105A2105C2C0583A046000000000000000000000000000000000002B"))
            (property INITVAL_0F
              (string "0x0741E07E3F07A1E03C3F0542A04C3D03C1E0563D07A3D07A3D0583A0582005600000000000000000"))
            (property INITVAL_0E
              (string "0x0000000000000000002A05C2104C3F0561E05A2D0562504C2D042210422103C2B07A3F0762004020"))
            (property INITVAL_0D
              (string "0x074250000000000000000000000000000000003F0403A0561E0763A05C200742B0563A040200402E"))
            (property INITVAL_0C
              (string "0x058210562B07420040200402A00000000000000000000000000000004A2C040200421E0763A05C2E"))
            (property INITVAL_0B
              (string "0x0582D03C2D0583A0742C0761E07A2104020040200403F00000000000000000000000000000005620"))
            (property INITVAL_0A
              (string "0x040200741E0561E03C2B0561E03C2B07A2B0562B07A3F07E2C04020040200402B000000000000000"))
            (property INITVAL_09
              (string "0x00000000000000004C2E040200402C03C3D07E3F03C3B0763B05A2D0422103C3F07A3A0402004020"))
            (property INITVAL_08
              (string "0x05C2A0000000000000000000000000000000003D07420040200742D07A2B0423A0402005C2E04020"))
            (property INITVAL_07
              (string "0x05C2C058200402004020076000000000000000000000000000000000000007A20040200403A0763B"))
            (property INITVAL_06
              (string "0x0742E0402004020040200402004020040200402007A0000000000000000000000000000000000000"))
            (property INITVAL_05
              (string "0x0461E0742005C2004020040200402004020040200402004020040200403B04600000000000000000"))
            (property INITVAL_04
              (string "0x000000000000000000000000004A2B05C2E05C2E0402004020040200402E05C20040200402004225"))
            (property INITVAL_03
              (string "0x000000000000000000000000000000000000000000000000000562E0402E05C2E040200402004020"))
            (property INITVAL_02
              (string "0x0402E05C3A05A2600000000000000000000000000000000000000000000000000000000002A03C3B"))
            (property INITVAL_01
              (string "0x0742E05C2004020040200562A0542300000000000000000000000000000000000000000000000000"))
            (property INITVAL_00
              (string "0x0000000000000000002304C1E0762C0762D03C260000000000000000000000000000000000000000"))
            (property CSDECODE_B
              (string "0b111"))
            (property CSDECODE_A
              (string "0b000"))
            (property WRITEMODE_B
              (string "NORMAL"))
            (property WRITEMODE_A
              (string "NORMAL"))
            (property GSR
              (string "ENABLED"))
            (property RESETMODE
              (string "ASYNC"))
            (property REGMODE_B
              (string "NOREG"))
            (property REGMODE_A
              (string "NOREG"))
            (property DATA_WIDTH_B
              (string "9"))
            (property DATA_WIDTH_A
              (string "9")))
          (net scuba_vhi
            (joined
              (portRef Z (instanceRef scuba_vhi_inst))
              (portRef OCEB (instanceRef ScreenRom2_0_0_0))
              (portRef CEB (instanceRef ScreenRom2_0_0_0))
              (portRef ADA0 (instanceRef ScreenRom2_0_0_0))))
          (net scuba_vlo
            (joined
              (portRef Z (instanceRef scuba_vlo_inst))
              (portRef CSB2 (instanceRef ScreenRom2_0_0_0))
              (portRef CSA2 (instanceRef ScreenRom2_0_0_0))
              (portRef CSB1 (instanceRef ScreenRom2_0_0_0))
              (portRef CSA1 (instanceRef ScreenRom2_0_0_0))
              (portRef CSB0 (instanceRef ScreenRom2_0_0_0))
              (portRef CSA0 (instanceRef ScreenRom2_0_0_0))
              (portRef RSTB (instanceRef ScreenRom2_0_0_0))
              (portRef WEB (instanceRef ScreenRom2_0_0_0))
              (portRef WEA (instanceRef ScreenRom2_0_0_0))
              (portRef CLKB (instanceRef ScreenRom2_0_0_0))
              (portRef ADB12 (instanceRef ScreenRom2_0_0_0))
              (portRef ADB11 (instanceRef ScreenRom2_0_0_0))
              (portRef ADB10 (instanceRef ScreenRom2_0_0_0))
              (portRef ADB9 (instanceRef ScreenRom2_0_0_0))
              (portRef ADB8 (instanceRef ScreenRom2_0_0_0))
              (portRef ADB7 (instanceRef ScreenRom2_0_0_0))
              (portRef ADB6 (instanceRef ScreenRom2_0_0_0))
              (portRef ADB5 (instanceRef ScreenRom2_0_0_0))
              (portRef ADB4 (instanceRef ScreenRom2_0_0_0))
              (portRef ADB3 (instanceRef ScreenRom2_0_0_0))
              (portRef ADB2 (instanceRef ScreenRom2_0_0_0))
              (portRef ADA2 (instanceRef ScreenRom2_0_0_0))
              (portRef ADB1 (instanceRef ScreenRom2_0_0_0))
              (portRef ADA1 (instanceRef ScreenRom2_0_0_0))
              (portRef ADB0 (instanceRef ScreenRom2_0_0_0))
              (portRef DIB8 (instanceRef ScreenRom2_0_0_0))
              (portRef DIA8 (instanceRef ScreenRom2_0_0_0))
              (portRef DIB7 (instanceRef ScreenRom2_0_0_0))
              (portRef DIA7 (instanceRef ScreenRom2_0_0_0))
              (portRef DIB6 (instanceRef ScreenRom2_0_0_0))
              (portRef DIA6 (instanceRef ScreenRom2_0_0_0))
              (portRef DIB5 (instanceRef ScreenRom2_0_0_0))
              (portRef DIA5 (instanceRef ScreenRom2_0_0_0))
              (portRef DIB4 (instanceRef ScreenRom2_0_0_0))
              (portRef DIA4 (instanceRef ScreenRom2_0_0_0))
              (portRef DIB3 (instanceRef ScreenRom2_0_0_0))
              (portRef DIA3 (instanceRef ScreenRom2_0_0_0))
              (portRef DIB2 (instanceRef ScreenRom2_0_0_0))
              (portRef DIA2 (instanceRef ScreenRom2_0_0_0))
              (portRef DIB1 (instanceRef ScreenRom2_0_0_0))
              (portRef DIA1 (instanceRef ScreenRom2_0_0_0))
              (portRef DIB0 (instanceRef ScreenRom2_0_0_0))
              (portRef DIA0 (instanceRef ScreenRom2_0_0_0))))
          (net dataout5
            (joined
              (portRef (member Q 0))
              (portRef DOA5 (instanceRef ScreenRom2_0_0_0))))
          (net dataout4
            (joined
              (portRef (member Q 1))
              (portRef DOA4 (instanceRef ScreenRom2_0_0_0))))
          (net dataout3
            (joined
              (portRef (member Q 2))
              (portRef DOA3 (instanceRef ScreenRom2_0_0_0))))
          (net dataout2
            (joined
              (portRef (member Q 3))
              (portRef DOA2 (instanceRef ScreenRom2_0_0_0))))
          (net dataout1
            (joined
              (portRef (member Q 4))
              (portRef DOA1 (instanceRef ScreenRom2_0_0_0))))
          (net dataout0
            (joined
              (portRef (member Q 5))
              (portRef DOA0 (instanceRef ScreenRom2_0_0_0))))
          (net Reset
            (joined
              (portRef Reset)
              (portRef RSTA (instanceRef ScreenRom2_0_0_0))))
          (net RdClockEn
            (joined
              (portRef OutClockEn)
              (portRef OCEA (instanceRef ScreenRom2_0_0_0))
              (portRef CEA (instanceRef ScreenRom2_0_0_0))))
          (net rdclk
            (joined
              (portRef OutClock)
              (portRef CLKA (instanceRef ScreenRom2_0_0_0))))
          (net raddr9
            (joined
              (portRef (member Address 0))
              (portRef ADA12 (instanceRef ScreenRom2_0_0_0))))
          (net raddr8
            (joined
              (portRef (member Address 1))
              (portRef ADA11 (instanceRef ScreenRom2_0_0_0))))
          (net raddr7
            (joined
              (portRef (member Address 2))
              (portRef ADA10 (instanceRef ScreenRom2_0_0_0))))
          (net raddr6
            (joined
              (portRef (member Address 3))
              (portRef ADA9 (instanceRef ScreenRom2_0_0_0))))
          (net raddr5
            (joined
              (portRef (member Address 4))
              (portRef ADA8 (instanceRef ScreenRom2_0_0_0))))
          (net raddr4
            (joined
              (portRef (member Address 5))
              (portRef ADA7 (instanceRef ScreenRom2_0_0_0))))
          (net raddr3
            (joined
              (portRef (member Address 6))
              (portRef ADA6 (instanceRef ScreenRom2_0_0_0))))
          (net raddr2
            (joined
              (portRef (member Address 7))
              (portRef ADA5 (instanceRef ScreenRom2_0_0_0))))
          (net raddr1
            (joined
              (portRef (member Address 8))
              (portRef ADA4 (instanceRef ScreenRom2_0_0_0))))
          (net raddr0
            (joined
              (portRef (member Address 9))
              (portRef ADA3 (instanceRef ScreenRom2_0_0_0))))))))
  (design ScreenRom2
    (cellRef ScreenRom2
      (libraryRef ORCLIB)))
)
