*~
*.bak
*.rpt
*.done
*.summary
*.jdi
*.qdf
*.pin
*.rpt
*.pof
*.sof
*.jic
*.stp
*.smsg
*.cdf
*.sld
*.map
pll*.bsf
pll*.cmp
pll*.spd
pll*_sim.f
pll*.ppf
pll*_sim/
top.qws
m10adc.sopcinfo
c5_pin_model_dump.txt
PLLJ_PLLSPE_INFO.txt
.qsys_edit/
db/
greybox_tmp/
incremental_db/
output_files/
simulation/
cons-c1k-rl/
cons-c1k-rk/
cons-c1k-rh/
cons-c1k-rhxu/
blockram*.obj
blockram*.lst
blockram*.vhd
m9312*.obj
m9312*.lst
m9312*.vhd
vtbrt*.obj
vtbrt*.lst
vtbrt*.vhd
xubrt*.obj
xubrt*.lst
xubrt*.vhd
autom4te.cache/
config/
configure
tools/*.o
tools/Makefile
tools/Makefile.in
tools/.deps
tools/conf.h
tools/conf.h.in
tools/config.log
tools/config.status
tools/dumpobj
tools/fontconvert
tools/genblkram
tools/macro11
tools/sdfmt
tools/stamp-h1
