NET "clk"  LOC = "P1";
NET "addr<19>"  LOC = "P42";
NET "addr<18>"  LOC = "P2";
NET "addr<17>"  LOC = "P3";
NET "addr<16>"  LOC = "P29";
NET "addr<15>"  LOC = "P30";
NET "addr<14>"  LOC = "P31";
NET "addr<13>"  LOC = "P32";
NET "addr<12>"  LOC = "P37";
NET "d0"  LOC = "P44";
NET "_as"  LOC = "P38";
NET "_ds"  LOC = "P5";
NET "rw"  LOC = "P6";
NET "_txe"  LOC = "P43";
NET "_rdf"  LOC = "P41";
NET "_rd"  LOC = "P39";
NET "wr"  LOC = "P40";
NET "_ceram"  LOC = "P34";
NET "_cerom"  LOC = "P33";
NET "_oe"  LOC = "P22";
NET "button"  LOC = "P21";
NET "status_led"  LOC = "P20";
NET "fc0"  LOC = "P16";
NET "fc1"  LOC = "P19";
NET "_ipl1"  LOC = "P14";
NET "_ipl2"  LOC = "P18";
NET "_vpa"  LOC = "P13";
NET "_reset"  LOC = "P12";
NET "_halt"  LOC = "P8";
NET "_dtack"  LOC = "P7";

