net clka	loc=r8;
net clkb	loc=b8;

net ps2_clk	loc=f4;
net ps2_data	loc=e1;

net vga_blue0	loc=h4;
net vga_blue1	loc=k3;
net vga_blue2	loc=l5;
net vga_green0	loc=h2;
net vga_green1	loc=k5;
net vga_green2	loc=r1;
net vga_red0	loc=j1;
net vga_red1	loc=m1;
net vga_red2	loc=t2;
net vga_hsync_n	loc=k4;
net vga_vsync_n	loc=k1;
