/*
	faqs.org Fixed CSS Style by Advameg, Inc.
	ver:	1.4
	date:	10-23-2009
*/

html{
	height: 100%;
	min-width: 700px;
}
body {
	background-color: white;
	padding: 0 0 0 0;
	margin: 0px;
	height:100%;
	min-height: 100%;
}

body,tbody {
	font-family:Georgia,"Times New Roman",Times,serif;
	font-size:12pt;
	line-height:1.65em;
	color:#2E2C2C;
}


#body{
	padding:0;
	margin:0 auto;
	min-height: 100%;
	width:760px;
}

#page{
	padding: 1px 0px;

}


#header{
	background-color:white;
	height:65px;
	position:relative;
	top:32px;
	border-bottom:1px solid #DEDEDE;
}

#header h1{
	padding:0px;
	margin:0px;
	font-size:13pt;
	color:#BFBFBF;
	font-family:Arial,Helvetica,sans-serif;
	font-weight:normal;
	z-index: 10;
	display:inline;
	border:none;
	background:none;
}

#header h2{
	position:absolute;
	top:22px;
	left:130px;
	font-size:10pt;
	color:white;
	z-index: 10;
}

#header a {
	color:#BFBFBF;
	text-decoration: none;
}
#header a:hover {
	color:#BFBFBF;
	text-decoration: underline;
}

#hlogo {
	position:absolute;

}
#hlogo img{
	border:none;
	width:106px;
	height:35px;
}

#hsublogo{
	position:absolute;
	top:4px;
	left:140px;
	padding-left:20px;
	border-left:1px solid #DEDEDE;
	
}

#hsearch {
	position:relative;
	float:right;
	width:230px;
	height:48px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:10px;
	color:gray;
}
#hsearch form {
	margin:2px 0 0 65px;
	padding:0px;
	line-height: normal;
}
#hsearch input {
	width:90px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	border:1px solid #BBBDCD;
	color:black;
	background-color: #FCFCFA;
}
#hsearch span a{
	margin:0;
	padding:0;
	color:#5E6EA4;
}
#hbar{
	height:7px;
	width:100%;
	background-color:#135176;
	background-image:url('http://www.faqs.org/style/i/faqs-header.png');
	background-position:left;
	background-repeat:no-repeat;
	line-height:10%;
	padding:0;
	margin:0;
}
#navigation{
	font-size:8pt;
	font-family:Arial,Helvetica,sans-serif;
	color:#8a8a8a;
	padding:2px;
	line-height: normal;
	margin-top:8px;
	position:relative;
	top:32px;
}
#navigation a{
	text-decoration:none;
	color:#5F5F5F;
}
#navigation a:hover{
	text-decoration:underline;
	color:#51578D;
}

#content{
	padding:30px 10px;
	background-color:white;
	margin-top:32px;
}

#footer{
	text-align: center;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	color:white;
	background-color: #135176;
	border-top:3px solid #BDCDD7;
	padding:3px;
	clear:both;	
}

#footer a{
	color:lightgoldenrodyellow;
	text-decoration:none;
}
#footer a:hover{
	color:white;
	text-decoration:underline;
}

h1{
	font-size:18pt;
	color:black;
	background-image: url('http://www.faqs.org/style/i/faqs-h1.png');
	background-position: 0 100%;
	background-repeat:no-repeat;
	padding:4px 0px;
	font-weight:normal;
}
h2{
	font-size:14pt;
	color:black;
	font-weight:normal;	
}
h3{
	font-size:12pt;
	color:gray;
	margin-bottom:0;
}

a {
	color:#364989;
}
a:hover {
	color:#798BC8;
}


#advboxl, .ads_float_left{
	float:left;
	border-right:1px dotted gray;
	padding:0px;
	padding-right:12px;
	margin:20px;
	margin-left:0;
	/*width:240px;*/
	background-color:white;
}

.adwords_in_content{
/*	border-top:1px dotted gray;
	border-bottom:1px dotted gray;
	padding:16px 0;*/
	margin: 24px 0;
}

.adwords_in_content hr {
	height: 0;
	border: none;
	border-bottom: 1px dotted gray; 
	margin:16px 0;
}


b {
	color:black;
}

#disclaimer{
	background-color:#FEFFE2;
	border:1px solid #F0DAAA;
	padding:10px;
	line-height:140%;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	margin-top:25px;
}

hr {
	color:silver;
	border:none;
	border-bottom:1px solid silver;
}

#interlink_nav {
	border:1px solid #D8D4D4;
	background-color:#F3F3F3;
	padding:5px;
	margin:10px;
	position:relative;
	height:26px;	
}

#interlink_nav p{
	display:inline;
	margin:0px;
	padding:0px;
	clear:none;
}

#interlink_nav .next{
	position:absolute;
	right:5px;
}

/* Faqs.org homepage styles */
#hnavbar{
list-style:none;
font-size:10pt;
margin:0;
padding:0;
position:absolute;
width:130px;
margin-left:-8px;
margin-top:36px;
}
#hwelcome{
text-align:center;
position:relative;
top:-55px;
line-height:190%;
}
#hwelcome h1{
margin:0px;
background:none;
}
#hwelcome p{
margin:0px;
color:gray;
}
#fmaincolumn{
clear:none;
padding-left:150px;
}
#fmtable{

}
.fmtable{
padding:0 35px;
margin:0px;
border-left:1px dotted #C4C3D7;
width:50%;
line-height:150%;
font-size:11pt;
}
hr{
border:none;
height:1px;
background:none;
border-top:1px solid #C4C3D7;
margin:40px 70px;
}
.hr1 {
border-top:8px solid #F5E1E2;
margin:0;
}
.hr2 {
border-top:8px solid #ECF5E1;
margin:0;
}
.hr3 {
border-top:8px solid #E1E6F5;
margin:0;
}
.hr4 {
border-top:8px solid #E5E5E5;
margin:0;
}				
.hr5 {
border-top:8px solid #F5E1F1;
margin:0;
}			
#header{
border-bottom:1px solid #EBEBEB;
}

pre {text-align:left;}