pre:empty {
    display: none;
}

pre {
    font-size: .875rem;
    white-space: pre;
}

/* Overwrite 'bolder' from vanilla, it's being rendered as normal wegiht. */
b {
    font-weight: bold;
}

.row {
    max-width: 80rem;
}

/* Hack to hide the empty section when not needed */
section:first-child:not(:last-child) {
  display: none;
}
